body{
    padding-top: 3%;
    width: 100%;
    background-size:cover;
    background-image: url(Blossom.jpeg);
    background-repeat: no-repeat;
    background-position:top;

    font-size: 30px;
}

#formDiv {
      background-color:white;
      padding: 20px;
}

/*form text css*/
#nameInput {
    font-size: 70%;
}
#descriptionInput {
    font-size: 70%;
}
#assignedInput {
    font-size: 70%;
}
#dateInput{
    font-size: 70%;
}
#status{
    font-size: 70%;
}


/*headding*/
.heading{
    font-family: "Nunito", sans-serif;
    padding-bottom: 2%;
    top: 10%;

}
/*add items button*/
.btn-primary{
    align-content: right;
    left: 10%;
    color: black;
    background-color: rgb(250, 216, 222);
    border-color: currentColor;
} 

.btn.btn-dark{
    background-color: rgb(255, 244, 246);
    color: black;
    border: seashell;
}

.card-header{
    background-color: rgb(250, 216, 222);
    color: black;
}

.list-group-item{
    font-size: 70%;
}

.col-md-4.col-12{
margin-top: 5%;
padding-bottom: 10%;

}

.list-group-item.list-group-item-action.flex-column.align-items-start{
    background-color:rgb(255, 244, 246);
    color: black;
}

.form-control{
    background-color: rgb(255, 244, 246);
}

